<mat-sidenav-container class="app-shell">
  <mat-sidenav
    #sidenav
    class="app-sidenav"
    [mode]="isHandset() ? 'over' : 'side'"
    [opened]="!isHandset()"
  >
    <div class="brand">
      <mat-icon>school</mat-icon>
      <span>Gestão de TCCs</span>
    </div>

    <mat-nav-list>
      @for (item of navItems; track item.link) {
        @if (item.disponivel) {
          <a
            mat-list-item
            [routerLink]="item.link"
            routerLinkActive="nav-active"
            (click)="isHandset() && sidenav.close()"
          >
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        } @else {
          <span mat-list-item class="nav-disabled" matTooltip="Em breve">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </span>
        }
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="app-toolbar">
      @if (isHandset()) {
        <button mat-icon-button (click)="sidenav.toggle()" aria-label="Menu">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span>Gestão de TCCs</span>
      <span class="spacer"></span>
      <button
        mat-icon-button
        (click)="theme.toggle()"
        [matTooltip]="theme.isDark() ? 'Modo claro' : 'Modo escuro'"
      >
        <mat-icon>{{ theme.isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>
    </mat-toolbar>

    <main class="app-content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
